<template>
  <div class="animated fadeIn dashboard">
    <page-title-bar></page-title-bar>


        <b-row class="grid-b-space">
          <b-col cols="12" sm="6" lg="3">
            <b-card :no-body="true" footer-class="px-3 py-2">
              <b-card-body class="p-3 clearfix">
                <i class="cui-circle-check bg-success p-3 font-2xl mr-3 float-left"></i>
                <div class="h5 text-success mb-0 mt-2">
                        <count-up :startVal="0" :endVal="loaded" :decimals="0" :duration="60"></count-up>

                </div>
                <div class="text-muted text-uppercase font-weight-bold font-xs">{{ $t('message.collectors_up') }}</div>
              </b-card-body>
            </b-card>
          </b-col>

          <b-col cols="12" sm="6" lg="3">
            <b-card :no-body="true" footer-class="px-3 py-2">
              <b-card-body class="p-3 clearfix">
                <i class="fa cui-circle-x bg-danger p-3 font-2xl mr-3 float-left"></i>
                <div class="h5 text-danger mb-0 mt-2">
                                            <count-up :startVal="0" :endVal="errored" :decimals="0" :duration="10"></count-up>
                </div>
                <div class="text-muted text-uppercase font-weight-bold font-xs"> {{ $t('message.collectors_down') }}</div>
              </b-card-body>
            </b-card>
          </b-col>

        </b-row>

    <div class="idb-block customClasses grid-b-space">
                <app-card customClasses="grid-b-space" :heading="$t('message.collectors_list')">

            <b-table 
                hover
                :fixed=false
                :striped=true
                :small=false
                head-variant="black"
                foot-variant="black"
                responsive="sm" 
                :fields="fields" 
                :items="collectors" 
                >


              <template v-slot:cell(plugin_data.status)="data">
                <b-button
                    :variant='is_errored(data.item.plugin_data.status) ? "outline-danger" : "outline-success"'
                    block
                    v-b-modal.modal-center
                    @click="info(data.item, data.index, $event.target)" >
                    {{ $t('message.details') }}
                </b-button>

            </template>


              <template slot="name" slot-scope="data" >
                {{data.item.plugin_data.name}}
              </template>

              <template v-slot:cell(active_scanning)="data">
                {{ data.item.active_scanning ? $t('message.yes'): $t('message.no') }}
            </template>

              <template slot="desc" slot-scope="data">
                {{data.item.plugin_data.description}}
              </template>

              <template slot="author" slot-scope="data">
                {{data.item.plugin_data.author}}
              </template>

              <template slot="category" slot-scope="data">
                {{data.item.plugin_data.category}}
              </template>

              <template slot="version" slot-scope="data">
                {{data.item.plugin_data.version}}
              </template>


            </b-table>


            <b-modal
              id="modal-errored"
              ref="modal"
              title="Erreur"

              header-bg-variant="danger"
              header-text-variant="light"
              body-bg-variant="secondary"
              body-text-variant="gray"

              @show="resetModal"
              @hidden="resetModal"
              hide-footer
            >
                <div v-if="infoModal.content.plugin_data">
                    <strong>
                        Erreur: 
                    </strong>{{infoModal.content.plugin_data.error}}
                </div>
            </b-modal>



            <b-modal
              id="info-modal"
              ref="modal"
              :title="$t('message.execute_collector')" 

              header-bg-variant="dark"
              header-text-variant="light"
              body-bg-variant="light"
              body-text-variant="dark"

              @show="resetModal"
              @hidden="resetModal"
              hide-footer

            >
                <b-form @submit.stop.prevent="onSubmit" >

                              <b-form-group
                                label="Type d'entrée:"
                                label-for="basicSelect"
                                :label-cols="3"
                                >
                                <b-form-select id="basicSelectLg"
                                    v-model="form.input_type"
                                  :plain="true"
                                  :options='infoModal["content"]["_allowed_types"]'
                                  value="Please select"
                                  required>

                                </b-form-select>
                              </b-form-group>




                                  <div v-for='(type_info, index_types) in infoModal["content"]["_allowed_types_info"]' >



                                    <div v-if="index_types === form.input_type">
                                 <b-form-group
                                      label-cols-lg="3"
                                      :label='type_info[0]["plugin_data"]["name"]'
                                      label-size="lg" 
                                      label-class="font-weight-bold pt-0"
                                      class="mb-0"
                                      :description='
                                      type_info[0]["plugin_data"]["description"]'
                                    >
                                    
                                        

                                        <div v-for="(field_info, index_field) in type_info[0]['fields']"
                                        v-if="field_info['mandatory'] == true">

                                        <b-input-group>
                                            <b-input-group-prepend>
                                                <b-button variant="primary">
                                                    {{ index_field }}
                                                </b-button>
                                            </b-input-group-prepend>
                                            <b-form-input 
                                                required
                                                v-model="form.fields[index_field]"
                                                type="text" 
                                                :placeholder="field_info['default']">
                                            </b-form-input>
                                        </b-input-group>


                                        </div>

                                    </b-form-group>


                                    </div>


                                  </div>

                            <div v-if="loading">
                                <br>                                
                                <b-container class="bv-example-row bv-example-row-flex-cols">
                                  <b-row>
                                    <b-col align-self="start"></b-col>
                                    <b-col align-self="center">
                                        <PacmanLoader :loading='true' color="#4A4A4A">
                                        </PacmanLoader>
                                    </b-col>
                                    <b-col align-self="end"></b-col>
                                  </b-row>
                                </b-container>
                                <br>

                            </div>
                            <div v-else>
                              <b-button 
                                type="submit" 
                                variant="primary"
                                class="float-right">
                                {{ $t("message.launch")}}
                                </b-button>
                            </div>



            </b-form>
            </b-modal>


          </app-card>
      </div>


  </div>

</template>

<script>

import { statusIsErrored } from "Helpers/helpers";
import { PacmanLoader } from '@saeris/vue-spinners'

import $api from "Api"

export default {
  inheritAttrs: false,
  components: {
    PacmanLoader
  },
  mounted() {
              var self = this
              $api.getCollectors()
                .then(responseData => {
                this.collectors = responseData.map(function(el) {
                  if (el.plugin_data.status >= 100) {
                    self.errored += 1
                  } else {
                    self.loaded += 1
                  }

                  var o = Object.assign({}, el);
                  o._showDetails = false
                  o._allowed_types = []
                  o._allowed_types_info = {}

                  o.allowed_input.forEach(item => {
                    if (Array.isArray(item)) {
                        let composite_name = item.map(function(elem){
                            return elem.plugin_data.name;
                        }).join(" + ");

                        o._allowed_types.push({text: composite_name, disabled:true})
                        o._allowed_types_info[composite_name] = item
                    } else {
                        o._allowed_types.push(item.plugin_data.name)
                        o._allowed_types_info[item.plugin_data.name] = [item]
                    }
                  })
                  return o;
                })
                }).catch(error => {
                    this.$notify({
                        group: 'notif',
                        type: 'error',
                        title: "Error: ",
                        text: error
                    })
                })

  },

  data: () => {
    return {
        color: "blue",
        size: 12,
        width: 200,
        height: 200,


        errored: 0,
        loaded: 0,
        collectors: [],
        loading: false,
        form: {
            input_type: null,
            fields: {}
        },
        infoModal: {
          id: 'info-modal',
          title: '',
          content: ''
        },
    }
  },
  computed: {
        fields() {
            return [
                { key: 'plugin_data.status', label: this.$t("message.launch") ,sortable: true},
                { key: 'plugin_data.name', label: this.$t("message.name") },
                { key: 'plugin_data.description', label: this.$t("message.description") },
                { key: 'plugin_data.category', label: this.$t("message.category") ,sortable: true},
                { key: 'active_scanning', label: this.$t("message.active_scanning") ,sortable: true},

                { key: 'plugin_data.author', label: this.$t("message.author") ,sortable: true},
                { key: 'plugin_data.version', label: this.$t("message.version") ,sortable: true}
            ]
        } 
  },
    methods: {
    is_errored(status) {
       return statusIsErrored(status)
    },
      info(item, index, button) {
        this.infoModal.title = `Row index: ${index}`
        this.infoModal.content = item

        console.log("pppp", item.plugin_data.status)
        let modal_to_show = item.plugin_data.status >= 100 ? "modal-errored": this.infoModal.id
        this.$root.$emit('bv::show::modal', modal_to_show, button)
      },

      onSubmit(evt) {
        evt.preventDefault()
        this.loading = true

        $api.executeCollector(this.infoModal.content.plugin_data.name, this.form)
        .then(res => {
            this.$nextTick(() => {
              this.$refs.modal.hide()
              this.$router.push({ 
                    name: 'CollectorsResults',
                    params: {
                        result_id: res.identifier
                    }
                }) 
            })            

        }).catch(error => {
            this.$notify({
                group: 'notif',
                type: 'error',
                title: "Could not execute collector",
                text: error
            })
            this.$nextTick(() => {
              this.$refs.modal.hide()
            })            
        })

      },
      resetModal() {
        this.form["fields"] = {}
        this.form.input_type = null
        this.loading = false
      }
  }
}
</script>