<template>
  <div class="animated fadeIn">
  <page-title-bar></page-title-bar>
    <div class="idb-block customClasses grid-b-space">
                <app-card customClasses="grid-b-space" :heading="$t('message.results')">

            <div class="d-flex align-items-center">
                <div class="search-wrap">
                    <b-form-input type="text" v-model="searchTerm" required :placeholder="$t('message.search')" class="search-input">
                    </b-form-input>
                    <span class="search-icon">
                        <i class="zmdi zmdi-search"></i>
                    </span>
                </div>
                <div class="mobile-search d-none">
                    <b-btn class="mobile-search-btn" variant="white">
                        <span class="zmdi zmdi-search"></span>
                    </b-btn>
                </div>


                <div class="ml-auto p-2 bd-highlight">
                    <b-button
                        variant="outline-secondary"
                        block
                        @click="fetchResults()"
                        v-b-modal.modal-center >
                        <div v-if="loading">

                                        <BeatLoader :loading='true' color="orange">
                                        </BeatLoader>

                        </div>
                        <div v-else>
                          {{ $t("message.reload_results")}}
                        </div>
                    </b-button>
                </div>

            </div>




<vue-good-table
  ref="azeaze"
  :columns="columns"
  :rows="rows"
  :fixed-header="true"
  :theme="darkMode ? 'nocturnal' : ''"
  :select-options="{ 
    enabled: true,
    selectOnCheckboxOnly: true,
    selectionInfoClass: 'custom-class',
    selectionText: $t('message.rows_selected'),
    clearSelectionText: $t('message.cancel'),
  }"
  :search-options="{ enabled: true }">
>
  <template slot="table-row" slot-scope="props">

    <span v-if="props.column.field == 'results'">
        <b-button 
            :variant="'outline-' + statusCodeToLabel(props.row.status[0])[1]"
            block
            @click="info(props.row)"
            v-b-modal.modal-center >
            {{ $t("message.see_results")}}
        </b-button>
    </span>



  </template>
  <div slot="selected-row-actions">
    <b-button variant="danger" size="sm" pill v-on:click="remove()">
        {{ $t("message.delete")}}

    </b-button>
  </div>

</vue-good-table>


          </app-card>

      </div>

            <b-modal
              id="toto"
              ref="modal"
              title="Results"
              hide-footer
            >
                <div v-if="modalData.status && modalData.status[0] >= 100">
                    <strong>Error: </strong>{{ modalData.status[1] }}
                </div>
                <div v-for="result in modalData.results">
                    <div>
                    <h1>
                        {{ result.plugin_data.canonical_name }}
                    </h1>
                        {{ result.summary }}
                    </div>

                </div>
                
            </b-modal>


  </div>
</template>

<script>

import { statusIsErrored } from "Helpers/helpers";
import { BeatLoader } from '@saeris/vue-spinners'

import $api from "Api"
import moment from 'moment'
import { mapGetters } from "vuex";


export default {
  name: 'my-component',
  props: ['result_id'],  
  components: {
    BeatLoader
  },
  data(){
    return {
      loading: false,
      searchTerm: '',
      columns: [
        {
          label: this.$t("message.results"),
          field: 'results',
        },
        {
          label: this.$t("message.category"),
          field: 'scan_type',
        },

        {
          label: this.$t("message.identifiant"),
          field: '_id',
        },
        {
          label: this.$t("message.number_of_results"),
          field: 'stats.number_of_results',
          type: 'number',
          sortable: true,
          sortFn: this.sortFn,
        },
        {
          label: this.$t("message.duration"),
          field: 'stats.elapsed',
          sortable: false,

        },
        {
          label: this.$t("message.launched_since"),
          field: 'stats.start_date',
           sortable: true,
          sortFn: this.sortFn,

        },
      ],
      rows: [],
      modalData: {}
    };
  },
    methods: {
      remove() {
        this.$refs['azeaze'].selectedRows.forEach(el => {
            $api.removeResults(el._id)
            setTimeout(this.fetchResults, 2500)
        })
      },
      sortStr(x, y, col, rowX, rowY) {
        return x == y
      },
      sortFn(x, y, col, rowX, rowY) {
        return (x < y ? -1 : (x > y ? 1 : 0));
      },
        statusCodeToLabel(code) {
            var codes = {
                0: ["Undefined"],
                10: ["Empty", "danger"],
                20: ["Ready", "primary"],
                30: ["Started", "primary"],
                40: ["Finished", "success"],
                100: ["Error", "danger"],
                101: ["Invalid input", "danger"],
                200: ["Cancelled", "warning"],
                300: ["Rate limited","warning"]
            };
            if (code in codes) {
                return codes[code]
            } else {
                return "Code not found"
            }

        },
        isErrored(err) {
            console.log(err, statusIsErrored(err))
            return statusIsErrored(err)
        },

      info(item) {
        // this.modalData = item
        // this.$root.$emit('bv::show::modal', "toto")

                console.log("!!!", item)
              this.$router.push({ 
                    name: 'DataViz',
                    params: {
                        scan_id: item._id
                    }
                }) 


      },

      fetchResults(force) {
        this.loading = true
        $api.getResults()
        .then(responseData => {

                this.rows = responseData.map(function(el) {
                    var o = Object.assign({}, el);
                    o.stats.start_date = moment(new Date(el.stats.start_date))

                    if (o.stats.end_date) {
                        o.stats.end_date = moment(new Date(el.stats.end_date))
                    } else {
                        o.stats.end_date = moment(Date.now())
                    }
                    o.stats.elapsed = moment.utc(o.stats.end_date.diff(o.stats.start_date)).format("HH:mm:ss")
                    o.stats.start_date = o.stats.start_date.fromNow()

                    return o;
                })
            this.$notify({
                group: 'notif',
                type:  "success",
                text: this.$t("message.results_reloaded")
            })
            this.loading = false
        }).catch(error => {
          this.loading = false
            this.$notify({
                group: 'notif',
                type: 'error',
                title: this.$t("message.error"),
                text: error
            })
        })

      }

    },
  mounted() {
    this.fetchResults(true)

  },
        computed: {
            ...mapGetters([
                "darkMode",
            ]),
        },

};
</script>