<template>
  <div class="animated fadeIn">
  <page-title-bar></page-title-bar>


    <app-card customClasses="grid-b-space" >



<div>
  <b-tabs content-class="mt-3" align="center">
    <b-tab :title="$t('message.table')" active>
            <data-table :scanid="scan_id"></data-table>

    </b-tab>
    <b-tab :title="$t('message.tree')">
        <p>
          <div class="graphSvg">
            <div id="tree"></div>
          </div>        
        </p>
    </b-tab>
    <b-tab :title="$t('message.graph')">
        <p>
          <div class="graphSvg">
            <div id="grph"></div>
          </div>
        </p>
    </b-tab>
    <b-tab :title="$t('message.cluster')">
        <p>
          <div class="graphSvg">
            <div id="circle"></div>
          </div>
        </p>
    </b-tab>

  </b-tabs>
</div>



    </app-card>


  </div>
</div>





</template>



<script>


    import { renderChartCollapsibleNetwork} from 'Views/dataViz/charts/graph'
    import { renderTreeCollapsible} from 'Views/dataViz/charts/tree'
    import { renderCircleCollapsible} from 'Views/dataViz/charts/circle'
    import DataTable from 'Views/dataViz/charts/table'
    import $api from "Api"

    export default {
    props: ['scan_id'],
    components: {
        DataTable
    },
    data() {
      return {
        flatData: []
      }
  },

  mounted() {
    if (!this.scan_id) {
              this.$router.push({ 
                    name: 'CollectorsResults'
                }) 
    }

        $api.flatResults(this.scan_id)
        .then(responseData => {
            this.flatData = responseData
        }).catch(error => {
            console.log(error)
            this.$notify({
                group: 'notif',
                type: 'error',
                title: this.$t("message.error"),
                text: error
            })
        })


        $api.treeResults(this.scan_id)
        .then(responseData => {

            renderCircleCollapsible()
            .svgHeight(window.innerHeight / 2)
            .svgWidth(window.innerWidth)
            .container('#circle')
            .data(responseData.data)
            .hoverCallback(this.onHover)
            .run()

            renderTreeCollapsible()
            .svgHeight(window.innerHeight / 2)
            .svgWidth(window.innerWidth - 50)
            .container('#tree')
            .data(responseData.data)
            .hoverCallback(this.onHover)
            .run()

            renderChartCollapsibleNetwork()
            .svgHeight(window.innerHeight)
            .svgWidth(window.innerWidth)
            .container('#grph')
            .data(responseData.data)
            .hoverCallback(this.onHover)
            .run()
        }).catch(error => {
            console.log(error)
            this.$notify({
                group: 'notif',
                type: 'error',
                title: this.$t("message.error"),
                text: error
            })
        })


  },
  methods: {
    onHover(node) {
        console.log("On hover", node)
    }

  }
}




</script>


<style>

  .graphSvg {
    height: 10;
  }
  .faded {
    opacity: 0.1;
    transition: 0.3s opacity;
  }
  .highlight {
    opacity: 1;
  }

  path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
  }
  path.link.depends {
    stroke: #005900;
    stroke-dasharray: 5, 2;
  }
  path.link.needs {
    stroke: #7f3f00;
  }

  circle {
    fill: #9ED7FF;
    stroke: #0F4C81;
    stroke-width: 2px;
  }
  circle.system {
    fill: #cce5ff;
    stroke: #003366;
  }
  circle.mount {
    fill: #ffe5e5;
    stroke: #660000;
  }
  circle.init {
    fill: #b2e8b2;
    stroke: #001900;
  }

  circle.selected {
    stroke: #ff6666FF !important;
    stroke-width: 3px;
    animation: selected 2s infinite alternate ease-in-out;
  }

  @keyframes selected {
    from {
      stroke-width: 5px;
      r: 26;
    }
    to {
      stroke-width: 1px;
      r: 30;
    }
  }

  text {
    font: 10px sans-serif;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  }

  rect.caption {
    fill: #CCCCCCAC;
    stroke: #666;
    stroke-width: 1px;
  }
  text.caption {
    font-size: 14px;
    font-weight: bold;
  }
  
</style>