<template>
  <div>

    <app-card customClasses="grid-b-space" :heading="$t('message.click_to_select_fact_input')">
        <div class="row">
            <div v-for="(a, b) in categories" class="col-lg-3">

                <div v-if="selected_cat.includes(b)">
                    <b-button  block pill variant="outline-success" @click="selectType(b)">
                        {{ b }}
                    </b-button>
                </div>
                <div v-else>
                    <b-button  block pill variant="outline-danger" @click="selectType(b)">
                        {{ b }}
                    </b-button>
                </div>
            </div>
        </div>
    </app-card>





    <div v-if="rows">
    <b-table
        ref="table"
        :items="dataToShow"
        :fields="fields"
        striped
      :per-page="perPage"
      :current-page="currentPage"
        responsive="sm">

      <template v-slot:cell(show_details)="row">
        <b-button size="sm" @click="row.toggleDetails" class="fa fa-plus-circle " variant="outline-primary" v-if="!row.item._showDetails">
        </b-button>
        <b-button size="sm" @click="row.toggleDetails" class="fa fa-minus-circle " variant="outline-primary" v-else>
        </b-button>
      </template>

        <template v-slot:cell(fact_category)="data">
            {{ data.item.fact_name }}

        </template>

        <template v-slot:cell(summary)="data">
            {{ data.item.summary }}
        </template>

        <template v-slot:cell(collector_name)="data">
            {{ data.item.collector_name }}
        </template>

      <template v-slot:row-details="row">
        <b-card>

        <h4>
            {{ row.item.fact_description }}
        </h4>
        <br>

          <b-row class="mb-2" v-for="field, key in row.item.fields">
            <b-col sm="3" class="text-sm-right">
                <b>
                    {{ key }}:
                </b>
            </b-col>
            <b-col>{{ field }}</b-col>
          </b-row>

        <br>

        <p class="text-center font-italic">
            Source: {{ row.item.collector_name }}
            <br>
            {{ row.item.collector_description }}
        </p>

        </b-card>
      </template>


    </b-table>
    <b-pagination
      v-model="currentPage"
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="my-table"
    >
    </b-pagination> 
    <p class="font-italic">
        {{ rows + ' ' + $t('message.results')}}
    </p>
  </div>
    <div v-else>
    <h1 class="text-sm-center font-italic">
        {{ $t('message.no_data')}}
    </h1>
  </div>
</div>
</template>







<script>

    import { textTruncate } from "Helpers/helpers";
    import $api from "Api"

    export default {
        name: 'dataTable',
        props: ['scanid'],

        data() {
          return {
            scanid: this.scanid,
            flatData: [],
            dataToShow: [],
            categories: {},
            selected_cat: [],
            perPage: 40,
            currentPage: 1,
            fields: [
                { key: 'show_details', label: this.$t("message.details"), class: "w-10"},
                { key: 'fact_category', label: this.$t("message.category"), class: "w-15", sortable: true},
                { key: 'collector_name', label: this.$t("message.collector_name"), class: "w-10",sortable: true},
                { key: 'features.pagerank', label: "PageRank", class: "w-10",sortable: true},
                { key: 'features.lpa', label: "LPA", class: "w-10",sortable: true},

                { key: 'summary', label: this.$t("message.summary"), sortable: true},
            ],
          }
        },
        mounted() {
            $api.flatResults(this.scanid)
            .then(responseData => {
                console.log("AAAAAA", responseData)
                responseData.data.forEach(item => {
                    if (!(item.fact_name in this.categories)) {
                        this.categories[item.fact_name] = false 
                        this.selected_cat.push(item.fact_name)
                    }

                })
                this.flatData = responseData.data
                this.dataToShow = this.flatData
            }).catch(error => {
                console.log(error)
                this.$notify({
                    group: 'notif',
                    type: 'error',
                    title: this.$t("message.error"),
                    text: error
                })
            })
        },
        methods: {
            selectType(type) {
                var index = this.selected_cat.indexOf(type);
                if (index !== -1) { this.selected_cat.splice(index, 1) }
                else { this.selected_cat.push(type) }


                this.dataToShow = []
                this.flatData.forEach((part, index, theArray) => {
                    if (this.selected_cat.includes(part.fact_name)) {
                        this.dataToShow.push(part)
                    }
                });
                this.$refs.table.refresh();
            }
        },
        computed: {
          rows() {

            return this.dataToShow.length
          }
        }
    }
</script>