<template>
  <div class="animated fadeIn">
  <page-title-bar></page-title-bar>

<div v-for="key, value in facts_by_category">
 <div class="idb-block customClasses grid-b-space">
                <app-card customClasses="grid-b-space" :heading="value">


        <b-table 
            hover
            :fixed=false
            :striped=true
            :small=false
            head-variant="black"
            foot-variant="black"
            responsive="sm" 
            :items="key"
            :fields="fields"
            >
          <template v-slot:cell(plugin_data.status)="data">
            <b-button 
                :variant='is_errored(data.item.plugin_data.status) ? "outline-danger" : "outline-success"'
                block
                v-b-modal.modal-center
                @click="info(data.item, data.index, $event.target)" >
                {{ $t('message.details') }}
            </b-button>

          </template>

          <template slot="name" slot-scope="data" >
            {{data.item.plugin_data.name}}
          </template>
        </b-table>



    </app-card>
</div>
    </div>
    











    <b-modal
      id="info-modal"
      ref="modal"
      :title="$t('message.fact_details')" 
      header-bg-variant="dark"
      header-text-variant="light"
      body-bg-variant=""
      body-text-variant=""
      @show="resetModal"
      @hidden="resetModal"
      hide-footer
    >
            <div class="table-responsive">
                <div class="unseen">
                    <table class="table table-hover  table-striped">
                        <thead>
                            <tr class="bg-primary">
                                <th>{{ $t('message.name') }}</th>
                                <th>{{ $t('message.default_value') }}</th>
                                <th>{{ $t('message.mandatory') }}</th>
                            </tr>
                        </thead>
                        <tbody class="table-hover">
                            <tr v-for="(item, key, value) in infoModal.content.fields">
                                <td>{{key}}</td>
                                <td>{{item.default}}</td>
                                <td>{{item.mandatory}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

    </b-modal>

  </div>

</template>

<script>
import { statusIsErrored } from "Helpers/helpers";

import $api from "Api"


export default {
  inheritAttrs: false,

  mounted() {
              $api.getFacts()
                .then(responseData => {
                    this.facts_by_category = responseData
                }).catch(error => {
                    this.$notify({
                        group: 'notif',
                        type: 'error',
                        title: "Error: ",
                        text: error
                    })
                })

  },
  data: () => {
    return {
        facts_by_category: {},
        infoModal: {
          id: 'info-modal',
          title: '',
          content: ''
        },
    }
  },
  computed: {
        fields() {
            return [
                { key: 'plugin_data.status', label: this.$t("message.status") },
                { key: 'plugin_data.name', label: this.$t("message.name") },
                { key: 'plugin_data.description', label: this.$t("message.description") },
                { key: 'plugin_data.category', label: this.$t("message.category") },
                { key: 'plugin_data.author', label: this.$t("message.author") },
                { key: 'plugin_data.version', label: this.$t("message.version") }
            ]
        } 
  },
  methods: {
    is_errored(status) {
       return statusIsErrored(status)
    },
      info(item, index, button) {
        this.infoModal.title = `Row index: ${index}`
        this.infoModal.content = item

        console.log("pppp", item.plugin_data.status)
        let modal_to_show = item.plugin_data.status >= 100 ? "modal-errored": this.infoModal.id
        this.$root.$emit('bv::show::modal', modal_to_show, button)
      },
      resetModal() {
      }
  }
}
</script>