<template>
	<div class="app-container" :class="{ 'collapsed-sidebar': sidebarCollapse }">
		<div class="app-content"
			:class="{  'dark-mode': darkModeEvent }">

			<div class="sidebar-wrapper">
				<app-sidebar-nav></app-sidebar-nav>
			</div>


			<div class="sidebarOverlay" @click="closeSidebar"></div>
			<div class="main-content">
				<app-header></app-header>

				<div class="base-container">
					<div class="inner-container">
						<transition name="router-anim" enter-active-class="animated slideInUpTiny animation-duration-fast">
							<router-view></router-view>
						</transition>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Header from '@/components/Header/Header'
	import SideNav from '@/components/Sidebar/SideNav'
	import { mapGetters } from "vuex";

	export default {
		data() {
			return {
				window: {
					width: 0,
					height: 0
				}
			}
		},
		name: 'Full',
		components: {
			appHeader: Header,
			appSidebarNav: SideNav,
		},
		mounted() {
			this.toggleSidebar()
		},
		computed: {
			...mapGetters([
				"darkMode",
				"collapsedSidebar"
			]),
			sidebarCollapse() {
				return this.collapsedSidebar;
			},
			darkModeEvent() {
				return this.darkMode;
			},
		},
		beforeUpdate() {
			this.toggleSidebar();
		},
		methods: {
			closeSidebar() {
				document.querySelector('.app-container').classList.add('collapsed-sidebar');
				document.querySelector('.sidebarOverlay').classList.remove('active');
			},
			toggleSidebar() {
				var element = document.getElementsByClassName("app-container");
				if (window.innerWidth < 1265) {
					document.querySelector('.app-container').classList.add('collapsed-sidebar');
					document.querySelector('.sidebarOverlay').classList.remove('active');
				}
				else if (window.innerWidth < 1201) {
					document.querySelector('.app-content').classList.remove('box-layout');
				}
				else if (window.innerWidth > 1265) {
					document.querySelector('.sidebarOverlay').style.display = 'block';
				}
				$(window).resize(function () {
					if (window.innerWidth < 1265) {
						document.querySelector('.app-container').classList.add('collapsed-sidebar');
					}
					else if (window.innerWidth < 1201) {
						document.querySelector('.app-content').classList.remove('box-layout');
					}
					else {
						document.querySelector('.sidebarOverlay').style.display = 'block';
						document.querySelector('.app-container').classList.remove('collapsed-sidebar');
					}
				});
			}
		}
	}
</script>