<template>
   <a href="javascript:void(0)" class="site-logo">
      <img 
         src="/logo.png" 
         class="img-fluid" 
         alt="Logo" 
         width="180" 
         height="90"
      >
   </a>
</template>