/*----------------------------------------------------------
4.12 Widget
----------------------------------------------------------*/
/*=================== Widgets =======================*/

/*=========== Widget-footer-border ==============*/

.footer-border{
   border-top:1px solid $border-color;
   li{
      text-align: center;
      list-style-type:none;
      padding:0.625rem;
      display:inline-block;
      &:not(:last-child){
         border-right:1px solid $border-color;
      }
   }
}
/*==================== To Do  List ===========================*/
.todo-list{
   .list-group-item{
		z-index: 0;  
		cursor: pointer;                  
		.content-wrap{
			width:calc(100% - 2rem - 2.3rem);
		}
      .trash-icon {
         width:2rem;
         height:2rem;
         border-radius: 50%;
         opacity: 0;
         visibility: hidden;
         transition: opacity .3s linear;
         box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
         i{
            color:$white;
            font-size:1.25rem;
            line-height: 1.938rem;// color:$white;
         }
      }
      &:hover{
			background-color: #dfeaff ;
         .trash-icon {
            background: $danger;
            opacity: 1;
            visibility: visible;
         }
      }
	} 
	.strike {
		text-decoration: line-through;
	}
}
.swal2-modal {
	padding: 1.5rem;
	.swal2-title{
		font-size: 1.5rem;
	}
	.swal2-styled:focus{
		box-shadow: none !important;
	}
}
.article-widget{
	.article-item{
		.img-wrap{
			margin-right: 1.5rem;
		}
		.article-text-wrap{
			width:calc(100% - 80px - 150px);
		}
	}
	.scroll-length{
		height:800px;
	}
	.list-group-item:hover, .list-group-item:focus {
		z-index: 0;	
	}
}
@media (max-width:479px){
	.todo-list .list-group-item h5 {
		white-space: normal;
  }
}
#myModal{
  .input-group > .form-control, .input-group > .custom-select, .input-group > .custom-file {
    background: white;
  }
}
/*==================== Article ========================== */

@media(max-width:1600px){
  .resp-list-height{
    .scroll-length{
      height: 710px;
    }
  }
}
@media(max-width:1520px){
  .resp-list-height{
    .scroll-length{
      height: 710px;
    }
  }
}
@media(max-width:1366px){
  .resp-list-height{
    .scroll-length{
      height: 680px;
    }
  }
}
@media(max-width:1295px){
  .resp-list-height{
    .scroll-length{
      height: 660px;
    }
  }
}
/*==================== Recent Order ========================*/
.recent-order{
	.user-img{
		margin-right:0.625rem;
	}
	.table tbody tr >td:nth-child(2){
		min-width:190px;
	}
}
/*==================== Blog Layout One =======================*/
.blog-layout{
	.media{
		img{
			margin-right: 1.25rem;
		}
		.media-body{
			h5{
				margin-bottom: 0;
			}
		}
	}
	.blog-content a{
		margin-right:0.625rem;
		i{
			margin-right:0.5rem;
		}
	}
	.btn{
		margin-right: 1.25rem
	}
}
/*==================== Recent Comment======================= */
.recent-comment{
  .scroll-length{
    height:633px;
  }
}
@media (max-width:1089px){
  .recent-comment{
    .scroll-length{
      height:400px;
    }
  }
}
.recent-commment-item{
  .avatar-wrap{
    margin-right: 0.9375rem ;
  }
}
/*==================== Timeline Activity ====================*/
.timeline-wrap{
	.img-wrap{
		margin-right: 0.9375rem
	}
	.post-actions a{
		margin-right:0.625rem;
		i{
			margin-right:0.5rem;
		}
	}
} 
/*==================== Statistic ==================*/
.statistic-widget{
  .btn-wrap{
    border-top:1px solid $border-color;
  }
}
/*==================== Browser Stats =================*/
.browser-stats-item{
	img{
		margin-right: 0.9375rem ;
	}
}
/*==================== Post Actions ===================*/
.post-actions a{
  margin-right:0.625rem;
  i{
    margin-right:0.5rem;
  }
}
/*==================== Chat & Support Widget ================ */
.chat-support-widget{
   .chat-wrapper {
      .chat-section{
         padding:1.5rem;
         .chat-block{
            &:not(:last-child){
               margin-bottom: 1.25rem; //20px;
            }
            .text-content-wrap{
               .chat-text{
                  background-color: $chat-block-bg;
                  border-radius: $chat-block-radius;
                  padding: $chat-block-spacing;
                  box-shadow: $chat-block-boxshadow;
                  p{
                     word-break:break-word;
                  }
               }
            }
            &.even {
               justify-content: flex-end;
               .text-content-wrap {
                  order: 1;
               }
               .chat-time{
                  text-align: left !important;
               }
               .img-wrap {
                  order: 2;
                  &.mr-20{
                     margin-left: 1.25rem; //20px;
                     margin-right: 0 !important;
                  }
               }
            }
         }
      }
   }
}
/*==================== Inbox Widget =======================*/
.searchIn-inbox{
  padding:0.5rem 1.25rem;
}
.inbox-widget{
	.task-wrap{
		.custom-control{
			padding-left:0;
		}
	}
}
/*==================== Over All Traffic Status ==================*/

.traffic-status-widget{
   .status-wrap{
      .status-content{
         width:33%;
         padding:0 0.5rem;
         h4{
            line-height:1.5;
         }
      }
   }
}

/* ============== Social Icon ====================*/

.social-share-wrap {
   cursor: pointer;
   .idb-block-content {
      padding:1rem;
      >div {
         display: flex;
    		align-items: center;
    		justify-content: space-between;
         >span {
            width: 40%;
            text-align: center;
            margin:0.25rem;
            &:last-child {
               border-left:1px dashed $border-color;
            }
         }
         .social-icon {
            width: 4.1875rem;
            height: 3.9rem;
            background-color: $gray-100;
            justify-content: center;
            border:1px solid $border-color;
            transition: all 0.4s ease-in-out;
            i {
               transition: all 0.4s ease-in-out;
            }
         }
      }
      &:hover {
         .social-icon {
            border-radius: 0 !important;
            border-color: transparent !important;
            i {
               color: $white !important;
            }
         }
         .facebook{
            background-color: #405DE6 !important;
         }
         .twitter{
            background-color: #1FA2FA !important;
         }
         .linkedin{
            background-color: #4875B4 !important;
         }
         .google{
            background-color: #D82218 !important;
         }
      }
   }
}
/*================== USer Block =====================*/
.user-profile-block{
	.address-block{
		span{
			i{
				margin-right:1rem;
			}
		}
	}
}
/*================== User Profile ===================*/
.user-profile-widget{
	.avatar-wrap{
		background: url(/static/img/session.png) no-repeat center center;
		background-size: cover;
		z-index:0;
    padding:4.5rem;
    border-radius: 5px 5px 0 0;
		.overlay-content{
      border-radius: 5px;
			background-color:rgba(0, 0, 0, 0.6);
			z-index:-1;
		}
		.user-avatar{
			display:flex;
			position:absolute;
			bottom:-1.5rem;
			left:1.5rem;
		}
	}
	.social-info li a{
		&.icon-btn {
			margin:0 0.25rem 0 0;
	  }
	}
	.btn{
		margin-right: 1.25rem
	}
   .user-detail-wrap{
      .user-info{
			.list-unstyled{
				li span{
					margin-right:1rem; 
				}
			}
         .user-contact-info{
            li{
               padding:0.75rem 0;
               border-bottom:1px dashed $border-color;
					span{
						i{
							margin-right:1rem;
						}
					}
            }
         }
      }
   }
}
/*=================== Blog Layout three ===========*/
.blog-layout-three{
  background: url(/static/img/gallery2.jpg) no-repeat 50% !important;
  background-size: cover !important;
  position: relative;
  .overlay-content{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.76)));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.76) 100%) !important;
    color: #fff;
  }
  .icon-btn{
    background: $white;
  }
  .blog-content {
    border-radius: 5px;
    a i {
      margin-right: 0;
    }
  }
}

@media (max-width:1200px){
  .blog-layout-three {
    padding-top: 37rem;
  }
}
.box-layout  .blog-layout-three {
  padding-top: 37rem;
}
/*=================== Blog Layout ===============*/

.blog-layout{
   .pos-relative{
      .icon-btn{
         height:3rem;
         width:3rem;
         font-size:1.5rem;
         transform:translateY(0);
         background-color:$white;
         box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
         position:absolute;
         transition:transform 0.3s ease-in-out;
         i{
            color:$danger !important;
         }
         &.top{
            right:1.25rem;
            top: -1.75rem;
         }
      }
   }
   &:hover{
      .pos-relative{
         .icon-btn{
            transform:translateY(-0.5rem);
         }
      }
   }
   &.three{
      .overlay-content{
         background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.76) 100%);
         color: $white;
         .icon-btn{
            background-color: $white;
         }
      }
   }
}
@media(max-width:357px){
  .rtl-layout{
    .blog-layout.four{
      .btn-wrap{
        text-align: right;
      }
    }
  }
}
@media (max-width:528px){
  .mb-xs-2{
    margin-bottom:0.5rem;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
@media (max-width:576px){
  .mt-xs-4{
    margin-top:1.5rem ;
  }
}
.w-90{
  width:90% !important;
}
.w-10{
  width:10% !important;
}
@media(max-width:579px){
  .blogs {
	  .list-group{
		  display: inline-block !important;
	  }
	  .list-item-wrap{
		  display: inline-block !important;
	  }
	  .list-wrap{
		  margin-bottom: 10px;
			display: inline-block !important;
			span,p{
				display: inline-block !important;
			}
	  }
	  .icon-btn{
			margin-left:0;
		}
		.avatar-wrap{
			display:inline-block;
			margin-right: 0;
		}
		.content-wrap{
			display: inline-block;
		}
		.btn-wrap.d-xl-flex{
			display: flex !important;
			display: -webkit-box !important;
			display: -ms-flexbox !important;
    	}
  	}
}
/*================== Weather Widget===============*/

.weather-widget{
   background: url("/static/img/weather-1.png") no-repeat center center !important;
   background-size:cover;
}

/*================== Weather Widget v2===============*/

.weather-widget-v2{
   background: url("/static/img/weather-2.jpg") no-repeat center center !important;
   background-size:cover;
   &:before{
      background-color:rgba(0, 0, 0, 0.5);
   }
}

/*================ Delete Confirmation Dialog ================*/

.delete-confirmation-dialog{
   .modal-header{
      border-radius: 0;
      background: linear-gradient(0deg, #6A11CB 0%, #2575FC 100%);
      h5{
         font-size: 1.25rem;
      }
      button, h5,.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus{
         opacity: 1;
         color:$white;
      }
   }
   .modal-content{
     border-radius: 0px;
   }
}

/*================== Recent testimonial ==================*/
.testimonial-slider{
   .slick-slide img {
      display: inline-block;
  }
  ::-moz-focus-inner {border:0;}
   .slick-dots{
      text-align: center;
      li {
         line-height: 0;
         text-align: center;
         display: inline-block;
         button {
            text-align: center;
            text-indent: -9999px;
            display: inline-block;
            border-radius: 50%;
            background: $white;
            padding: 4px;
            margin: 0 4px;
            height: 0.4rem;
            width: 0.4rem;
            transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
            transition: 0.4s;
            -webkit-appearance: listitem;
            -moz-appearance: listitem;
            appearance: listitem;
            &:before{
               content:'';
               color: $white;
               font-size: 2.3rem;
            }
         }
         &.slick-active {
            button{
               background:$white;
               opacity: 0.6;
               &:before{
                  color: #74798e;
               }
            }
         }
      }
   }
}
@-moz-document url-prefix(){
  .testimonial-slider .slick-dots li button {
    height: 10px;
    width: 10px;
    border:0;
  }
}
/*========================= Dragula ========================*/
.vue-draggable-wrap{
  .img-wrap{
    margin-right: 1.25rem;
  }
}    
/*======================== Top Buyers =====================*/
.top-buyers{
	.avatar-wrap{
		margin-right: 0.9375rem
	}
}
/*====================== System Reports =====================*/
.system-reports{
// 	.icon-btn{
// 		margin-right: 0.9375rem;
// 	}
  .scroll-length{
    height:330px;
  }
}
@media (max-width:992px){
  .system-reports{
    .scroll-length{
      height:310px;
    }
  }
}

/*====================== System Reports =====================*/
.sales-overview{
  .pb-3{
    &:last-child{
      padding-bottom: 0 !important;
    }
  }
}
/*====================== Editor Widget =======================*/
.blog-layout{
  .dropzone .dz-message {
    text-align: center;
    margin: 6em 0;
  }
  .editr--content {
    min-height: 175px;
  }
  .icon-btn-wrap{
    margin-top: 12px;
margin-bottom: -27px;
  }
}
.editr--toolbar{
  height: auto
}
@media (max-width:1440px){
  .blog-layout{
    .editr--toolbar{
      height: auto;
      flex-wrap: wrap;
       a.vw-btn-separator i.vw-separator {
        border-left: 1px solid transparent;
       }
    }
  }
}
@media (max-width: 585px){
  .editr--toolbar {
    height: auto;
    flex-wrap: wrap;
    a.vw-btn-separator i.vw-separator {
      border-left: 1px solid transparent;
     }
  }
}
// new updates
.ongoing-projects-wrap {
	.list-group-item {
		margin-bottom: 0.625rem;
		i {
			width:1.375rem;
			font-size: 1.375rem;
			color: $primary;
		}
	}
}
.chat2-wrap{
	.chat2-listing{
		>div{
			padding:0.75rem 0 0.625rem;
			.thumb-wrap{
				width: 64px;
			}
			.chat-content{
				width: calc(100% - 64px - 0.9375rem);
			}
			&:nth-child(even){
				flex-direction: row-reverse;
				.thumb-wrap{
					margin-right: 0 !important;
					margin-left: 0.9375rem;
				}
			}
		}
	}	
	.send-message-box{
		.chat-input{
			width:calc(100% - 4.0625rem);
			box-shadow: none;
			border:0;
			&:focus{
				border-color:$primary !important;
			}
		}
		.btn-icon{
			width:3.125rem;
			height: 3.125rem;
			i{
				font-size: 1.25rem;
			}
		}
	}
}
.ticker-slider{
	background-color: $sidebar-bg;
	opacity:0.9;
	.price-content *{
		color:$light;
	}
}
.exchange-statistics {
	.crypto-icon-wrap .cc:nth-child(2){
		margin-left: -10px;
	}
	.crypto-content{
		width:180px;
	}
}
.crypto-card {
	.progress{
		background-color:rgba(234, 234, 234, 0.7);
	}
	*{
		color:$light;
	}
}
.mktcap-wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
	width: 100%;
	padding: 1rem 0;
	.mktcap-title {
		width: calc(100%/7);
		white-space: nowrap;
		text-align: center;
		padding: 0 1rem;
		cursor: pointer;
		&:first-child {
			text-align: left;
		  }
		&:last-child {
			text-align:right;
			padding-right: 1.5rem;
			position: relative;
			i{
				position: absolute;
				top:-3px;
				right:3px;
				transition:transform 0.3s ease-out;
				transform: rotate(180deg);
			}
		}
	}
}
.mktcap-tab-list,.wallet-tab-list{
	.card-header{
		background-color: transparent;
	}
	.card{
		box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
	}
	.collapsed .mktcap-wrap .mktcap-title:last-child i{
		transform: rotate(0);
	}
}
.wallet-tab-list{
	.wallet-title i{
		cursor: pointer;
		transition:transform 0.3s ease-out;
		transform: rotate(180deg);
	}
	.collapsed .wallet-title i{
		transform: rotate(0deg);
	}
}
.button-wrap .crypto-btn{
	min-width: auto;
   padding: 0;
   font-size: 2.5rem;
   border-radius: 100%;
   border: 0;
   cursor: pointer;
   background: transparent;
}
.bank-details .price-wrap .btn{
	width:160px;
}
.best-seller-wrap{
	.slick-next,.slick-prev{
		color: transparent;
    	outline: none;
		background: 0 0;
		font-size: 0;
		line-height: 0;
		position: absolute;
		top: 50%;
		display: block;
		width: 20px;
		height: 20px;
		padding: 0;
		transform: translateY(-50%);
		cursor: pointer;
		border: none;
		&::before{
			font-family: 'Material-Design-Iconic-Font';
			line-height: 1;
			opacity: .75;
			color: $primary;
			font-size: 1.5rem;
		}
	}
	.slick-next:before{
		content: "\f2ee";
	}
	.slick-prev:before{
		content: "\f2ea";
	}
	.slick-arrow {
      top: 40%;
      z-index: 9;
		opacity: 0;
		font-size: 1.5rem;
      transition: all 0.2s ease-in-out;
      &.slick-prev {
         left: 20px;
         transform: translateX(1rem);
      }
      &.slick-next {
         right: 30px;
         transform: translateX(-1rem);
      }
   }
   &:hover {
      .slick-arrow {
         opacity: 1;
         transform: translateX(0);
      }
   }
}
.support-block{
	.list-group-item {
		.avatar-wrap{
			width:42px;
		}
		>div:nth-child(2){
			width:calc(100% - 42px - 15px);
			.font-sm{
				font-size: 1rem;
			}
		}
	}
}
@media (max-width: 575px){
	.article-widget .article-item .article-text-wrap{
		width:100%;
	}
	.campaign-widget .w-50{
		width: 100% !important;
	}
}