<template>
  <div>
    <vue-good-wizard 
      :steps="steps"
      :onNext="nextClicked"
      :nextStepLabel="$t('message.next')"
      :previousStepLabel="$t('message.previous')"
      :finalStepLabel="$t('message.send')"

      :onBack="backClicked">
      <div slot="page1">
        <h4> {{ $t("message.step_1") }} </h4>
        <div>
            <b-form-select :state="scan_type_state" v-on:change="onSelectType" v-model="scan_type" :options="scan_type_options" class="mb-3">
              <template v-slot:first>
                  <option :value="null" disabled>-- {{ $t("message.please_select_option") }} --</option>
              </template>title
            </b-form-select>


            <div v-if="scan_type">
                <div v-if="scan_type == 'Full Scan'">
                    <br>
                    <b>Full Scan</b>
                    This scan will execute every collectors related to your inputs.
                    ( This may takes some time )
                </div>
            </div>



        </div>
      </div>
      <div slot="page2">
        <h4>{{ $t("message.step_2") }}</h4>


        <div id="app">FillFact
            <table class="table">
                <tbody>

                          <tr v-for="(row, index) in inputs">
                              <td>
                                <b-form-select :state="inputs[index].state" v-model="inputs[index]['external_identifier']" v-on:change="fillFact(row, index)" class="mb-3">
                                  <option disabled :value="null">-- {{ $t("message.please_select_option") }} --</option>
                                  <optgroup v-for="key, value in facts_by_category" :label="value">
                                    <option v-for="f in key" :value="f">
                                      {{ f["external_identifier"] }}
                                    </option>
                                  </optgroup>

            
                                </b-form-select>
            
                              </td>

                              <td>
                                <button type="button"
                                        class="btn rounded-circle square-40 btn-danger"
                                        v-on:click="removeInput(index);">
                                  <i class="zmdi zmdi-delete">
                                  </i>
                                </button>
                              </td>


                          </tr>




                </tbody>
            </table>



<b-container fluid>
  <b-row>
    <b-col md="3" offset-md="5">
                            <button type="button"
                                    class="btn rounded-circle square-40 btn-success"
                                    v-on:click="addInput">
                              <i class="zmdi zmdi-plus">
                              </i>
                            </button>

    </b-col>
  </b-row>
</b-container>





        </div>


            <b-modal
              id="fillfact"
              ref="modal"
              size="lg"
              :title="$t('message.edit_input')"

              header-bg-variant="primary"
              header-text-variant="light"
              body-bg-variant="light"
              body-text-variant="gray"
              @hidden="resetModal"
              hide-footer
            >
                <b-form @submit.stop.prevent="onSubmitFillFact" >
                  <b-form-group 
                    label-cols-lg="3"
                    label-size="lg" 
                    label-class="font-weight-bold pt-0"
                    class="mb-3"
                    v-if="fact_modal_data.external_identifier"
                    :label='fact_modal_data.external_identifier.plugin_data["name"]'
                    :description='fact_modal_data.external_identifier.plugin_data["description"]'>
                      

                      <div v-for='(field_info, field_name) in fact_modal_data["external_identifier"]["fields"]' v-if="field_info['mandatory'] == true">
                                <b-input-group class="mb-3">
                                  <b-input-group-prepend>
                                                <b-button variant="primary">
                                                    {{ field_name }}
                                                </b-button>
                                  </b-input-group-prepend>
                                  <b-form-input 
                                        required    
                                        v-model='modal_data[field_name]'
                                        type="text" 
                                        :placeholder="field_info['default']">
                                  </b-form-input>
                                </b-input-group>
                      </div>

                  </b-form-group>

                            <div>
                              <b-button 
                                type="submit" 
                                variant="primary"
                                class="float-right">
                                {{ $t("message.validate")}}
                                </b-button>
                            </div>




            </b-form>






            </b-modal>

      </div>
      <div slot="page3">
        <h4>{{ $t("message.step_final") }}</h4>
        <p>

            <h1 class="text-center">
                {{ $t('message.summary') }}
            </h1>
            <p>
                {{ $t('message.scan_type') }} : <b> {{ scan_type }} </b>
            </p>

        <p>
        </p>
        <div v-for="input in inputs">
            <div v-if="input.external_identifier">
                <b>{{ input.external_identifier.external_identifier }}</b>
            </div>
          <b-row class="mb-2" v-for="value, key in input.entered_input">
            <b-col sm="3" class="text-sm-right">
                <b>
                    {{ key }}:
                </b>
            </b-col>
            <b-col>{{ value }}</b-col>
          </b-row>
        </div>



        </p>
      </div>

    </vue-good-wizard>
  </div>
</template>


<script>
    import { GoodWizard } from 'vue-good-wizard';

    import $api from "Api"


    export default {
        name: "tabs",
        components: {
        'vue-good-wizard': GoodWizard,
        },
        data(){
            return {
            inputs: [{external_identifier:null, state: false}], // INPUTS
            actual_row: null,
            facts_by_category: {},
            scan_type: null, // SCAN TYPE
            fact_modal_data: {},
            modal_data: {},
            scan_type_state: false,
            scan_type_options: [
                { value: 'Full Scan', text: 'Full scan' },
            ],
            steps: [
                {
                  label: this.$t("message.choose_scan_type"),
                  slot: 'page1',
                },
                {
                  label: this.$t("message.add_inputs"),
                  slot: 'page2',
                },
                {
                  label: this.$t("message.launch_scan"),
                  slot: 'page3',
                  options: {
                      nextDisabled: false,
                  },
                },
            ],
            };
        },
        mounted() {
              $api.getFacts()
                .then(responseData => {
                    this.facts_by_category = responseData
                }).catch(error => {
                    this.$notify({
                        group: 'notif',
                        type: 'error',
                        title: this.$t("message.error"),
                        text: error
                    })
                })
        },
        methods: {

            onSubmitFillFact(evt) {
              this.loading = true
              this.inputs[this.actual_row].state = true
              this.inputs[this.actual_row]["entered_input"] = this.modal_data
              this.$refs.modal.hide()
            },
                fillFact(row, fact) {
                  this.fact_modal_data = row
                  this.actual_row = fact
                  this.$root.$emit('bv::show::modal', "fillfact")
                },
              resetModal() {
                if (this.inputs[this.actual_row].state != true) {
                  this.inputs[this.actual_row].entered_input = {}
                  this.inputs[this.actual_row].state = false
                  this.inputs[this.actual_row].external_identifier = null

                }
                this.modal_data = {}
              },
                addInput: function() {
                    var elem = document.createElement('tr');
                    this.inputs.push({
                        external_identifier: null,
                        state: false
                    });
                },
                removeInput: function(index) {
                    this.inputs.splice(index, 1);
                },


            onSelectType(selected) {
              if (this.scan_type) {
                this.scan_type_state = true
              }
            },
            nextClicked(currentPage) {
              if (currentPage == 2) {
                let data = {scan_type: this.scan_type,
                            inputs: []}
                this.inputs.forEach(input => {
                    data.inputs.push({
                        input_type: input.external_identifier.external_identifier,
                        fields:input.entered_input
                    })
                })

                  $api.sendScan(data)
                    .then(responseData => {
                      this.$router.push({ 
                            name: 'CollectorsResults',
                            params: {
                                result_id: responseData
                            }
                        }) 

                    }).catch(error => {
                        this.$notify({
                            group: 'notif',
                            type: 'error',
                            title: this.$t("message.error"),
                            text: error
                        })
                    })
              }
              if (currentPage == 0 && ! this.scan_type_state) {
                  this.$notify({
                      group: 'notif',
                      type: 'error',
                      title: this.$t("message.error"),
                      text: this.$t("message.please_select_a_scan_type")
                  })
                return false
              }
            return true;
            },
            backClicked(currentPage) {
            return true;
            }
        },
    };
</script>



