<template>
	<header class="app-header">
		<div class="d-flex justify-content-between align-items-center nav-wrap">
			<div class="d-flex align-items-center">
				<div class="ham-icon">
					<button type="button" class="c-hamburger c-hamburger--rot  v-step-0" name="button" @click="collapseSidebarHandler">
						<span class="ham-line"></span>
					</button>
				</div>

			</div>
			<b-navbar-nav class="navbar-right">

                    <div style="padding-right: 10px"class="align-self-center">{{ $t("message.dark_theme")}}</div>
                    <div class="onoffswitch align-self-center">
                        <input 
                            type="checkbox" 
                            name="onoffswitch" 
                            class="onoffswitch-checkbox" 
                            id="switch-history" 
                            checked
                            @change="darkModeHandler">
                        <label class="onoffswitch-label mb-0" for="switch-history">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
				<language-provider></language-provider>

			</b-navbar-nav>
		</div>


	</header>
</template>

<script>
	import LanguageProvider from "./LanguageProvider";
	import { mapGetters } from "vuex";

	export default {
		computed: {
			...mapGetters([
				"collapsedSidebar",
			]),
			fullScreenView: function () {
				return this.fullScreen;
			}
		},
		components: {
			LanguageProvider,
		},
		methods: {
			collapseSidebarHandler() {
				if ((window.innerWidth < 1265)) {
					document.querySelector('.app-container').classList.remove('collapsed-sidebar');
					document.querySelector('.sidebarOverlay').classList.add('active');
				}
				else {
					this.$store.dispatch('collapsedSidebar')
				}
			},
            darkModeHandler() {
                this.$store.dispatch('darkModeHandler');
            },
		}
	};
</script>
