/*---------------------------------------------------------------
4.8 Rtl
----------------------------------------------------------------- */
/*========== RTL Layout =========*/
.rtl-layout{
   direction: rtl;
}
#app .app-container  .rtl-layout{
	//============ sidebar =============//
	.collapsed-sidebar{
		.main-content{
			padding-right:0;
		}
		.sidebar-wrapper{
			transform: translateX(18.75rem);
			opacity: 0;
			visibility: hidden;
			position: absolute;
			right: 0 !important;
			.idb-nav {
				.nav-item{
					.menu-icon{
						margin-left: 0.9375rem;
					}
				}
			}
		}
	}
	//============ header =============//
	.app-header {
		.nav-wrap{
			.navbar-nav {
				.notification-wrap{
					.avatar-wrap{
						margin-right:0;
						margin-left: 1.25rem;
					}
				}
			}
		}
	}
	.ham-icon {
		margin-right: 0;
		margin-left: 1.25rem ;
		> .c-hamburger .ham-line {
			right:0;
			left: 18px;
		}
	}
	.idb-contextual-link .dropdown-menu { 
		text-align: right;
		z-index: 999999999;
		left: auto !important;
		transform: translate(0) !important;
		right: -140px;
	}
	.app-header .nav-wrap .navbar-nav > li.customizer > a {
		padding: 0.5rem 0.75rem  0.5rem 0;
	}
	.dropdown-toggle{
		direction: ltr;
	}
	.app-header {
		.custom-dropdown {
			.dropdown-item {
				float: right;
			}
		}
	}

	//============ customizer =============//
	.customizer-toggle {
		right: -45px;
	}
	.idb-customizer {
		.settings-panel {
			.theme-options {
				.theme-body .theme-option-text {
					padding-left:0;
					padding-right: 12px;
				}
				a.theme {
					text-align: right;
					i {
						padding-right:0;
						padding-left: 0.7rem;
					}
				}
				.custom-control-indicator{
					left:auto;
					right: 0;
				}
			}
		}
	}
	.idb-customizer .settings-panel .theme-options .theme-body {
		padding-right: 1.5rem;
		.form-check {
			padding-left:0;
			padding-right: 0;
			img{
				text-align: right;
				display: flex;
				display: -webkit-box;
				display: -ms-flexbox;
			}
		}
		.custom-checkbox .custom-control-indicator {
			display: block;
		}
		.custom-control-input {
			right:  0;
		}
	}
	.idb-customizer, .chat-sidebar-pan {
		border-right: 1px solid $border-color;
		border-left:1px solid transparent;
	}
	//============ sidebar =============//
	.search-input::placeholder{
		text-align: left;
	}
	//============ chart card =============//
	.chart-card{
		h5,h2,p{
			text-align:right;
		}
		.chart-content{
			margin-right:0;
			margin-left:0.625rem;
		}
	}
	//============ App Card =============//
	.footer-border li:not(:last-child) {
		border-right: 1px solid transparent;
		border-left:1px solid $border-color;
	}
	.idb-contextual-link{
		.dropdown-menu {
			text-align: right;
			.dropdown-item {
				text-align: right;
				i{
					margin-left:0.9rem;
				}
			}
		}
	}
	//============ To Do List =============//
	.todo-list{
		.pr-3 {
			padding-right:0 !important; 
			padding-left:1rem !important;
		}
		span{
			text-align: right;
		}
		.list-group-item{
			.trash-icon {
				margin-left:0;
				margin-right:auto;
			}
		}
	}
	//============ Editor =============//
	.ql-toolbar.ql-snow{
		text-align: right;
	}
	.editr--content{
		text-align: right;
	}
	.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
		left: 0px;
		right:auto;
	}
	//============ sidebar =============//
	.ql-toolbar.ql-snow .ql-formats {
		margin-right: 0;
		margin-left: 15px;
	}
	//============ Article widget =============//
	.article-item{
		.img-wrap{
			margin-right: 0;
			margin-left: 1.875rem;
		}
	}
	//============ Widget =============//
	.best-seller-widget ,.testimonial-slider{
		h4{
			text-align: center;
		}
		.slick-slider{
			direction:ltr;
		}
	}
	//============ Trending Widget =============//
	.idb-block.trending-widget canvas#bar-chart {
		margin-right: 28px;
		margin-left: 0;
  	}
	//============ User Profile Widget =============//
	.user-profile-widget{
		.avatar-wrap{
			.user-avatar{
				right:1.5rem;
			}
		}
		.user-detail-wrap{
			.user-info{
				.user-contact-info{
					li{
						text-align: right;
						span{
							i{
								margin-left:1rem;
							}
						}
					}
				}
			}
		}
	}
	.user-profile-widget{
		.btn{
			margin-right:0;
			margin-left: 1.25rem
		}
		.user-detail-wrap{
			.user-info{
				.list-unstyled{
					li span{
						margin-right:0;
						margin-left:1rem; 
					}
				}
			}
		}
	}
	@media(max-width:579px){
		.blogs {
			.list-wrap{
				.avatar-wrap{
					margin-left: 0;
					text-align: right;
					margin: 0 auto;
					display: block;
				}
				span{
					display: block !important;
				}
			}
			.icon-btn{
				margin-right: 0;
				margin-left:0.25rem;
			}
			.d-xl-flex{
				display: flex !important;
			}
		}
	}			
	//============ Recent order =============//
	.recent-order{
		td,th{
			text-align: right;
		}
		.user-img{
			margin-right: 0;
			margin-left:0.625rem;
		}
		span.order-status{
			text-align: right;
		}
	}
	//============ blog layout =============//
	.blog-layout{
		.media{
			img{
				margin-left: 1.25rem;
				margin-right: 0;
			}
			.media-body{
				h5,p,span{
					text-align: right;
				}
				h5{
					margin-bottom: 0.3125rem;
				}
				span{
					display: flex;
					display: -webkit-box;
					display: -ms-flexbox;
				}
			}
		}
		.btn{
			margin-right:0;
			margin-left: 1.25rem
		}
		.blog-content {
			p{
				text-align: right;
			}
			a{
				display: flex;
				display: -webkit-box;
				display: -ms-flexbox;
				margin-right: 0;
				margin-left:0.625rem;
				i{
					margin-right:0;
					margin-left:0.5rem;
				}
			}
			.post-actions{
				display: flex;
				display: -webkit-box;
				display: -ms-flexbox;
			}
		}
		.pos-relative .icon-btn.top {
			right:auto;
			left: 1.25rem;
		}
	}
	//============ recent comment =============//
	.recent-commment-item{
		.avatar-wrap{
			margin-right: 0;
			margin-left: 0.9375rem ;
		}
		p{
			text-align: right;
		}
		span{
			display:table ;
		}
	}
	//============ timeline wrap =============//
	.timeline-wrap{
		li{
			text-align: right;
		}
		.img-wrap{
			margin-right:0;
		}
		img{
			margin-left: 1.25rem;
			margin-right:0;
			text-align: right;
		}
		.activity-meta-info span{
			direction: ltr
		}
		.media-body{
			h6,p, span{
				text-align: right;
			}
			h5{
				margin-bottom: 0.5rem !important;
			}
			h6{
				direction: ltr;
			}
			.list-inline-item{
				h5{
					text-align: right;
				}
				span{
					display: flex;
					display: -webkit-box;
					display: -ms-flexbox;
					text-align: -webkit-right;
					text-align: right;
				}
			}
			.img-wrap{
				margin-right:0; 
				margin-left: 0.9375rem
				}
			span{
				display: flex;
				display: -webkit-box;
				display: -ms-flexbox;
				text-align: right;
			}
			.list-inline  {
				display: flex;
				display: -webkit-box;
				display: -ms-flexbox;
			}
			a{
				display: flex;
				display: -webkit-box;
				display: -ms-flexbox;
				margin-right: 0;
				margin-left:0.625rem;
				i{
					margin-right:0;
					margin-left:0.5rem;
				}
			}
			.post-actions{
				display: flex;
				display: -webkit-box;
				display: -ms-flexbox;
			}
		}
	}
	//============ table =============//
	td,th{
		text-align: right;
	} 
	//============ browser stat =============//
	.browser-stats-item{
		img{
			margin-left: 0.9375rem ;
			margin-right: 0;
		}
		span{
			display: flex;
			display: -webkit-box;
			display: -ms-flexbox;
			text-align: right;
		}
	}
	
	//============ UI Elements =============//
	#alerts{
		h4,p,a{
			text-align: right;
		}
		.alert 	{
			padding-right: 1.25rem;
			padding-left:46px;
			text-align: -webkit-right;
			text-align: right;
		}
		.btn{	
			display: flex;
			display: -webkit-box;
			display: -ms-flexbox;
			text-align: right;
		}
	}
	#buttons{
		p,.btn{
			text-align: right;
		}
		.btn{
			direction: ltr;
		}
		.dropdown-toggle::after {
			margin-right: 0.255em;
		}
	}
	#tabs{
		.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
	.btn-style,.badge-style,.card-links , label,.toggle-collapse, .toggle-collapse-inner ,.button-wrap{
		display: flex;
		display: -webkit-box;
		display: -ms-flexbox;
		text-align: right;
	}
	.page-item:first-child .page-link {
		margin-right: 0;
		border-top-right-radius: 0.25rem;
		border-bottom-right-radius: 0.25rem;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-left: none;
	}
	.page-item:last-child .page-link {
		border-top-left-radius: 0.25rem;
		border-bottom-left-radius: 0.25rem;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	#cards .variant-cards{
		p{
			text-align: center;
		}
	}
	.card-block{
		.card-btn{
			display: flex;
			display: -webkit-box;
			display: -ms-flexbox;
			text-align: right;
		}
	}
	#down2{
		direction: ltr;
	}
	.alert-dismissible .close {
		right:auto;
		left: -4px;
		position: absolute;
		top: 5px;
	}
	
	//============ sidebar =============//
	@media(min-width:1418px){
		.alert-dismissible .close {
			top:-2px !important;
		}
	}
	@media(max-width:1061px) and (min-width:767px){
		.alert-dismissible .close {
			right:auto;
			left: -4px;
			position: absolute;
			top: -0.25rem;
		}
	}
	//============ sidebar =============//
	
	//============ Elements =============//
	p,h5,h1,h2,h3,h4,h6,.card-footer ,a.card-link{
		text-align: right;
	} 
	//============ dragula =============//  	 
	.vue-draggable-wrap{
		.img-wrap{
			margin-right:0;
			margin-left: 1.25rem;
		}
	} 
	.vue2-dragula-container div,.icon-box li {
		text-align: right;
	}
	//============ user view =============//  	 
	.user-profile-block{
		h4{
			text-align: center;
		}
		.address-block{
			span{
				i{
					margin-right:0;
					margin-left:1rem;
				}
			}
		}
	}
	.peoples{
		.follow-status{
			display: flex;
			display: -webkit-box;
			display: -ms-flexbox;
			text-align: right;
		}
		.text-xl-right {
			text-align: right;
		}
		span.text-right{
			text-align: left !important;
		}
	}
	.connections ,.peoples, .top-buyers{
		.avatar-wrap{
			margin-right:0;
			margin-left: 0.9375rem 
		}
	}
	.vdr[data-v-2bcd502f]{
		position:static;
	} 
	.user-profile-wrapper{
		span.meta-info{
			text-align: right;
		}
	}
	@media (min-width: 1200px){
		.peoples{
			.text-xl-right {
				text-align: left !important;
		  }
		}
	}
	.user-list-wrapper p{
		text-align: center;
	}
	//============ Icon =============//  	 
	.icon-box {
		.icon-style i{
			margin-right:0;
		}
		.icon-title {
			padding-left:0;
			padding-right: 2.5rem;
		} 
	}
	//============= Pages=========//
	.pricing-wrapper{
		h2,span,h3,p{
			text-align: center;
		}
	}
	.blogs{
		.avatar-wrap{
			margin-right:0;
			margin-left: 1.25rem ;
		}
	}
	.gallery-wrapper{
		li{
			&:last-child .btn{
				margin-left: 0;
			}
		}
		.btn{
			margin-right:0;
			margin-left: 0.625rem ;
			
		}
	}
	//============== Common ==========//
	.post-actions{
		display: flex;
		display: -webkit-box;
		display: -ms-flexbox;
		a{
			display: flex;
			display: -webkit-box;
			display: -ms-flexbox;
			margin-right: 0;
			margin-left:0.625rem;
			i{
				margin-right:0;
				margin-left:0.5rem;
			}
		}
	}
	.social-share-wrap .idb-block-content > div > span:last-child {
		border-left: 1px dashed transparent;
		border-right: 1px dashed $border-color;
	}
	.top-buyers .text-content, .system-reports ,.inbox-widget{
		span{
			display: flex;
			display: -webkit-box;
			display: -ms-flexbox;
			text-align: right;
		}
	}
	.statistic-widget h4,.carousel-caption h3 , .user-list-wrapper h4{
		text-align:center
	}
	//=============== Margin =============//
	.mr-3{
		margin-left:1rem !important;
		margin-right: 0 !important;
	}
	.mr-15{
		margin-right:0 !important;
		margin-left:0.9375rem !important;
	}
	.mr-10 {
		margin-right:0 !important;
		margin-left: 0.625rem !important;
	}
	.mr-20{
		margin-right: 0 !important;
		margin-left: 1.25rem !important;
	}
	//================ Sales visitor wrap ========//
	.sales-visitors-wrap{
		canvas#bar-chart {
			margin-right:0; 
		}
	}
	//================ System Wrap =============//
	.system-reports{
		.mr-15{
			margin-right:0 !important; 
			margin-left: 0.9375rem !important;
		}
	}
	//=============== Buyers stat ============//	
	.buyers-stats h5 , .weather-widget-v2  h2{
		text-align: center ;
	}
	//=============== Blog ================//
	.blog-layout-three .blog-content a i {
		margin-right: 0;
		margin-left: 0;
	}
}
//================== Collapsed Sidebar ==================//
#app .app-container.collapsed-sidebar{
	.rtl-layout{
	 .main-content{
		 padding-right:0;
	 }
	 .chat-support-widget .chat-wrapper .chat-section .chat-block.even .img-wrap.mr-20 {
		 margin-left: 0;
		 margin-right: 1.25rem!important;
	}
	 .sidebar-wrapper{
		 transform: translateX(18.75rem);
		 opacity: 0;
		 visibility: hidden;
		 position: absolute;
		 right: 0 !important;
		 .idb-nav {
			 .nav-item{
				 .menu-icon{
					 margin-left: 0.9375rem;
				 }
			 }
		 }
	 }
 }
}
//========================= Sidebar =====================//
.rtl-layout  .idb-customizer, .rtl-layout .chat-sidebar-pan {
	left: 0!important;
	transition: left 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99) 0s;
}
#app .app-container 	.rtl-layout {
	.main-content{
		padding-right:16.25rem;
		padding-left: 0;
	}
	.sidebar-wrapper{
		right: 0;
		left: auto;
		.user-section .dropdown-menu {
			min-width: 14.6rem;
			left:49% !important;
			right: -110% !important;
			h6{
				text-align: left;
			}
		}
		#__BVID__16__BV_toggle_{
			direction: ltr;
		}
		.idb-nav {
			.nav-item{
				//direction: ltr;
				text-align: right;
				.menu-icon{
					margin-left: 0.9375rem;
					margin-right:0;
				}
				.nav-link:after{
					left: 1.5rem;
					right: auto;
					transform: rotate(90deg);
				}
			}
			.nav-item.active .nav-link:after{
				transform: rotate(270deg);
			}
		}
	}
}
.rtl-layout .idb-customizer.customizer-out ,
.rtl-layout  .panel-hide .chat-sidebar-pan {
	left: -300px !important;
}
.rtl-layout{
	.view-more-wrap,.article-widget .article-text-wrap,.chat2-listing .chat-content >div{
		text-align: right;
	}
	.stats-pie-wrap .idb-block-content.text-center h3{
		text-align: center !important;
	}
	.table th.text-right{
		text-align: left !important;
	}
	.slick-slider{
		direction:ltr !important;
	}
	.slick-track{
		direction:rtl !important;
	}
	.product-stats h4,.product-stats span,.server-load-widget ul h5{
		text-align: center !important;
		.mr-1{
			margin-left: 0.25rem;
			margin-right: 0 !important;
		}
	}
	.top-buyers  .text-right{
		text-align: left !important;
	}
	.ongoing-projects-wrap span i.mr-2,.chat2-listing .chat-content .mr-2,.table-responsive .btn.mr-2{
		margin-right:0 !important;
		margin-left: 0.5rem;
	}
	.send-message-box .ml-3{
		margin-left:0 !important;
		margin-right: 1rem;
	}
	.custom-prepend-input input, .custom-prepend-input .custom-select,
	.custom-prepend-select input, .custom-prepend-select .custom-select{
		padding-right: 0.625rem;
		padding-left: 1.875rem;
		background-position:left 0.75rem center;
	}
	.custom-prepend-input,.custom-prepend-select{
		.icon-wrap{
			border-radius:0 0.25rem 0.25rem 0;
		}
	}
	.recent-trades .action-wrap, .quick-trade .tab-pane >div >div:last-child{
		text-align: right;
	}
	.quick-trade .tab-pane >div >div:last-child .pl-2{
		padding-right: 0.5rem;
		padding-left: 0 !important;
	}
	.tabs-table-wrap .nav-tabs .nav-item .nav-link, .quick-trade .nav-tabs .nav-item .nav-link, .clients-list-wrap .nav-tabs .nav-item .nav-link{
		i.mr-2{
			margin-right: 0 !important;
			margin-left: 0.5rem;
		}
	}
	.exchange-statistics{
		.crypto-icon-wrap{
			text-align: right;
		}
		.crypto-content.ml-auto{
			margin-left:0 !important;
			margin-right: auto;
		}
	}
	.project-item .team-member-thumb{
		text-align: right;
		img.mr-2{
			margin-right: 0 !important;
			margin-left: 0.5rem;
		}
	}
	.project-detail-wrap .project-content{
		text-align: right;
	}
	.management-details ul li img.ml-1{
		margin-left:0 !important;
		margin-right: 0.25rem;
	}
	.project-detail-wrap	.project-content .pl-3,.files-uploaded ul li .pl-3{
		padding-right: 1rem;
		padding-left: 0 !important;
	}
	.clients-list-wrap .client-item{
		.client-content *{
			text-align: center !important;
		}
		.action-btn-wrap{
			left:-15px;
			right: auto;
		}
	}
	.mktcap-wrap .mktcap-title{
		&:first-child{
			text-align: right;
		}
		&:last-child{
			text-align: left;
			padding-left: 1.5rem;
			padding-right: 1rem;
			i{
				left:3px;
				right: auto;
			}
		}
	}
	.mktcap-tab-list .card-body{
		>div.mb-4{
			text-align: right;
			.btn.mr-2{
				margin-right: 0 !important;
				margin-left: 0.5rem;
			}
		}
	}
	.wallet-tab-list{
		.amount-sec-wrap{
			text-align: right;
		}
		.amount-list .content-wrap.pl-3{
			padding-left: 0 !important;
			padding-right: 1rem;
		}
	}
	.bank-detail{
		text-align: right;
		.mr-2{
			margin-right: 0 !important;
			margin-left: 0.5rem;
		}
	}
	.price-wrap.text-right {
		h3{
			text-align: left !important;
		}
		.ml-sm-auto{
			margin-right: auto ;
			margin-left: 0 !important;
		}
	}
	.crypto-card .mr-2,.buy-sell-wrap >div.text-right .mr-2{
		margin-right: 0 !important;
		margin-left: 0.5rem;
	}
}